/* Base styles */
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px; text-align: center;
}
.section{
  position: relative;
  padding: 40px 10px 10px 10px;
  background-color: grey;
  border: 1px solid black;
}
#title1{
  background-color:pink ;
  border: 1px solid black;
  padding: 5px;
  position: absolute;
  top: 0%;
  right: 0%;
}
#title2{
  background-color: darkred ;
  border: 1px solid black;
  padding: 5px;
  position: absolute;
  top: 0%;
  right:  0%;
  color:  white;
}
#title3{
  background-color:lightyellow ;
  border: 1px solid black;
  padding: 5px;
  position: absolute;
  top: 0%;
  right: 0%;
}


/*Computer*/
@media (min-width: 992px) {
   .col-lg-4{
    float: left;
    width: 33.33%;
    padding: 10px;
   } 


}

/*Tablet*/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,  .col-md-12 {
    float: left;
    padding: 10px;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
 } 

 /*Mobile*/
@media (max-width: 767px) {
    .col-sm-12 {
    float: left;
    width: 100%;
    padding: 10px;
  }
}
